@import "src/assets/css/params.scss";
@import "src/assets/css/fonts.scss";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  background: #141318;
}

*, :after, :before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.slick-dots li {
  width: 5px;
  &.slick-active button:before {
    color: #0177FD;
  }
  button:before {
    color: #474A58;
    //color: #0177FD;
    opacity: 1;
    font-size: 10px;
    width: 8px;
    height: 8px;
  }
}
.slick-slide {
  padding: 0 20px;
  div:focus {
    outline: #06babf;
  }
}
.slick-list {
  padding-bottom: 50px!important;
}

@media (max-width: $tablet-size) {
  .container {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .slick-list {
    padding-bottom: 24px !important;
  }
}
